.cart-item-list {
    padding-top: 20px;
}
.pricePerItem {
    float:right;
}

.addIcon {
    flex: 50%;
    padding-right: 100px;
}

.add-remove-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 30%
}

.add-remove-button-hover:hover{
    background-color: #fdff81 !important;
}

.add-icon-plus-button {
    display: flex;
    padding: 0;
}